<p id="notice"><%= notice %></p>

<h1>Listing User Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Age</th>
      <th>Prefecture</th>
      <th>Gender</th>
      <th>Job</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_profiles.each do |user_profile| %>
      <tr>
        <td><%= user_profile.user_id %></td>
        <td><%= user_profile.age %></td>
        <td><%= user_profile.prefecture_id %></td>
        <td><%= user_profile.gender_id %></td>
        <td><%= user_profile.job_id %></td>
        <td><%= user_profile.height %></td>
        <td><%= user_profile.weight %></td>
        <td><%= user_profile.deleted_at %></td>
        <td><%= link_to 'Show', user_profile %></td>
        <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
        <td><%= link_to 'Destroy', user_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User profile', new_user_profile_path %>
